doctype html
html(lang="en")
  head
    title= "My Portfolio/Blog"
    link(rel='stylesheet', href='../main.css')
  body
    h1 
      | Welcome to my Portfolio!
    p
      a(
        href="/portfolio/1"
      )
       | See my SoundCloud project
    p
      a(
        href="/portfolio/2"
      )
        | See my Instagram Clone project
    p
      a(
        href="/portfolio/3"
      )
        | See my Rotten Tomatoes project
    p
      a(
        href="/portfolio/4"
      )
        | See my Final project

