<%- include ../partials/_header %>

<% if (product) {%>
<div class="row thumbnail" style="margin-top: 10px;">
	<div class="col-md-6 well">
		<h3 class=" well-sm">Product Name: <%= product.title %> </h3>
		<div class="well-sm">
		<h4>Price <%= product.price %> </h4>
		<h4>Quantity <%= product.quantity %> </h4>
		</div>
	</div>
	<div class="col-md-6 text-center">
		<img src="<%=product.fileName %>"/>
	</div>
</div>

<% } else { %>
	<h3> Product Not Found </h3>
<% } %>

<%- include ../partials/_footer %>